*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

app/build/cache/greendao-candidates.list

app/build/generated/res/pngs/debug/drawable-anydpi-v21/ic_launcher_background.xml

app/build/
